@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
    --bg-color-red: #F03C42;
    --bg-color-blue: #222374;
    --bg-color-black: #000;
    --bg-color-gray: #CCC;
    --bg-color-white: #FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial;
}

a, a:hover{
    color: unset;
    text-decoration: none;
}

header{
    background-color: var(--bg-color-red);
}

nav{
    display: flex;
    justify-content:space-between;
    padding: 35px 0;
}

.social-icons{
    width: 30px;
}

.container{
    max-width: 960px;
    
}

.container h1{
    color: var(--bg-color-white);
    font-size: 18px;
    font-weight: 700;
}

.container a{
    color: var(--bg-color-white);
    font-size: 14px;
    font-weight: 700;
}

.container h2{
    color: var(--bg-color-white);
    font-size: 32px;
    font-weight: 700;    
}

#resume{
    background-color: var(--bg-color-blue);
    padding: 20px 0;
}

.card-resume{
    background-color: var(--bg-color-gray);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
}

.card-resume h3{
    color: var(--bg-color-black);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-resume p{
    color: var(--bg-color-black);
    font-size: 14px;
    font-weight: 400;
}

#description{
    background-color: var(--bg-color-white);
}

footer{
    background-color:  var(--bg-color-black);
}